@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

.text-hover {
  @apply hover:text-gray-400 cursor-pointer duration-150;
}

.btn {
  @apply bg-black text-white px-6 py-2 rounded-xl cursor-pointer hover:-translate-y-1 duration-150 font-semibold;
}

.btn-inverse {
  @apply border border-gray-300 px-6 py-2 rounded-xl cursor-pointer duration-300 hover:text-black text-gray-300 hover:border-black;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
